
.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--foreground);
  padding: 120px 60px;
  background-image: url("/background2.png");
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.main h1 {
    font-family: 'terminal'
}

.main p {
    font-family: 'orbit'
}

.main {
text-align: center;
font-size: large;
}

.main button {
    font-size: medium;
    padding: 2%;
    margin-top: 5%;
    border-radius: 8px;
    background-color: transparent;
}
